# Sample folders (used during development)
source/
target/

# Python cache
__pycache__/
*.py[cod]

# VS Code Code Runner temporary file
tempCodeRunnerFile.py

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store